@charset "UTF-8";

.titre {
	text-decoration: none;
	font-size:16px;
	font-weight: bold;
	color: #555!important;
	text-align:center;
}

.albums {
    margin-bottom: 20px;
	border: 3px solid #ededed;
	background: #fafafa;
	padding: 0;
	position: relative;
}

.photo {
	width: 100%;
	overflow: hidden;
	border: 3px solid #ededed;
}
.photo img {
	width: 100%;
}
.inphoto {
	position: absolute;
}
.btnsup {
	color: #CC0000!important;
}
a .btnsup {
	color: #CC0000!important;
}

.nombre {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 0;
	font-size: 35px;
	color: #555;
	text-decoration: none;
	text-align:center;
}
