@charset "UTF-8";


#pictures {
	border: 1px solid transparent;	
}

.picture {
	position: relative;
	width: 100%;
	overflow: hidden;
	border: 3px solid #ededed;
}
.picture img {
	width: 100%;
}
.inpicture {
	position: absolute;
	top: 5px;
	left: 5px;
}
.inpicture a {
	color: #CC0000!important;
}
.btnsup {
	color: #CC0000!important;
}
a .btnsup {
	color: #CC0000!important;
}
.inpicture .fa {
	color: #CC0000!important;
	font-size: 30px;
}